.resultsSelectorWrapper {
    display: grid;
    gap: 1rem;
    font-family: "Formula1_Regular";
    position: relative;
    padding-block-start: 2rem;
    background: var(--white);
}


@media (min-width: 1024px) {
    .resultsSelectorWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}