.selectorDetails {
    > .selectorSummary {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--black);
        color: var(--white);
        padding: 1rem;
    }

    > .selectorSummary::-webkit-details-marker {
        display: none;
    }

    &[open] {
        .selectorSummary svg {
            transform: rotate(180deg);
        }
    }

    .selectorContent {
        ul {
            overflow-y: auto;
            max-height: 10em;
            position: relative;

            li {
                padding: 1rem;
            }

            .active {
                text-decoration: underline;
                text-decoration-color: var(--red-medium);
                text-underline-offset: 4px;
                font-weight: 600;
            }
        }
    }    
}


