@mixin tableGrid {
    display: grid;
    grid-template-columns: var(--columns);
    align-items: center;
}

@mixin shadow {
    --bg-color: #f3f3f3;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 16%;
    z-index: 5;
    transition: opacity 0.2s;
    margin-block: 3rem;
    pointer-events: none;
}

.resultsTableOuterWrapper {
    position: relative;
    margin-block: 4rem;
    padding-inline: 0.6rem;
    border: 2px solid var(--red-medium);
    border-radius: 0.8rem;

    .shadowLeft {
        @include shadow;
        left: 0;
        background: linear-gradient(to right, var(--bg-color), transparent);
    }
    
    .shadowRight {
        @include shadow;
        right: 0;
        background: linear-gradient(to left, var(--bg-color), transparent);
    }

    .resultsTableWrapper {
        overflow: auto;
        width: 100%;

        .resultsTable {
            font-family: "Formula1_Regular";
            display: grid;
            min-width: 660px;
         
            .tableCaption {
                position: absolute;
                top: -0.75em;
                left: -0.2em;
                z-index: 5;
                background-color: var(--white);
                padding-block-end: 0.4em;
                padding-inline-end: 0.4em;
                font-size: clamp(1rem, 0.6rem + 3vw, 2.2rem);

                @media (max-width: 340px) {
                    left: 50%;
                    transform: translateX(-50%);
                    white-space: nowrap;
                    padding: 1rem;
                }
            }    
        
            .tableHeaderWrapper {
                background-color: var(--red-medium);
                color: var(--white);
                padding: 0.6rem 0.8rem;
                border-radius: 0.4rem;
                text-transform: uppercase;
                margin-block: 3rem 1rem;
        
                tr {
                    @include tableGrid;
                }
            }
        
            .tableBodyWrapper {
                margin-block: 0rem 3rem;

                tr {
                    padding: 1.25rem 0.8rem;
                    @include tableGrid;
        
                    &:nth-child(2n) {
                        background: #f3f3f3
                    }
                }
            }
        }
    }
}

  
  










