.menuOptionsWrapper {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    transition: grid-template-rows ease-in-out .2s, opacity ease-out .2s;
    background: #000;

    > .headerItems {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        color: #fff;

        .headerItem {
            padding-inline: 0 2vw;
            margin-block: 0.5rem;
            padding-block: 0.5rem;
            margin-inline: 4vw 2vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-width: 0 2px 2px 0;
            border-style: solid;
            border-color: #ee0000;
            border-bottom-right-radius: 1rem;

            &:last-child {
                margin-block-end: 1.4rem;
            }
        }
    }

    &.menuOpen {
        opacity: 1;
        grid-template-rows: 1fr;
        transition: grid-template-rows ease-out .2s, opacity ease-in-out .2s;
    }
}

.menuCover {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}

@media (min-width: 960px) {
    .menuCover,
    .menuIcon {
        display: none;
    }

    .menuOptionsWrapper {
        position: relative;
        inset: unset;
        display: flex;
        opacity: 1;
        transition: none;
        background: transparent;
       
        .headerItems {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            text-align: center;
            margin: 0;

            .headerItem {
                margin: 0;
                padding: 0;
                border: none;

                &:last-child {
                    margin: 0;
                }
            }
        }

        .headerItemIcon {
            display: none;
        }
    }

}