@mixin base {
    background-color: transparent;
    color: var(--white);
}

@mixin primary {
    background-color: var(--red-medium);
    color: var(--white);
    transition-duration: 0.25s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  
.btn,
.link {
    @include base;
} 

.btn {
    &.primary {
        @include primary;
    }
}

.link {
    display: inline-block;
    
    &.primary {
        @include primary;
    }
}


