.errorPageWrapper {
    background: var(--white);
    font-family: "Formula1_Regular", sans-serif;
    padding: 8rem 2rem;
 
    .errorPageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        max-width: 40ch;
        text-align: center;
        margin-inline: auto;
    }
    svg {
        width: 2rem;
        height: 2rem;
    }
}
