.storyCardWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.4rem;
    padding-block: var(--landing-page-block-padding);
    color: var(--white);
    margin-inline: auto;
    max-width: var(--landing-page-inline-padding);

    .storyCardText,
    .storyCardDynamic {
        flex-basis: 50%;
        text-align: center;
        width: 100%;
    }

    .storyCardTitle {
        font-family: "NetflixBold";
        font-size: var(--landing-page-title-size);
        line-height: 1.2;
    }

    .storyCardDescription {
        font-family: "NetflixLight";
        font-size: var(--landing-page-description-size);
        margin-block-start: 1rem;
    }
    

    @media (min-width: 800px) {
        flex-direction: row;

        .storyCardText,
        .storyCardDynamic {
            text-align: left;
        }

        .reverseOrder {
            order: 1;
        }
    }
}