@mixin flexCenter {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* SIMPLE HEADER */
.simpleHeader {
    display: block;
    position: relative;
    z-index: 10;
}

.headerWrapper {
    @include flexCenter;
    justify-content: space-between;
    height: 5rem;
    padding-inline: 1rem;
    position: absolute;
    width: 100%;

    .headerItem {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 6rem;

        @include flexCenter;

        &:last-child {
            justify-content: flex-end;
        }
    }
}

