@font-face {
  font-family: 'NetflixBold';
  src: url('/fonts/Netflix_Sans_Bold.otf') format('truetype');
}

@font-face {
  font-family: 'NetflixMedium';
  src: url('/fonts/Netflix_Sans_Medium.otf') format('truetype');
}

@font-face {
  font-family: 'NetflixLight';
  src: url('/fonts/Netflix_Sans_Light.otf') format('truetype');
}

@font-face {
  font-family: 'Formula1_Regular';
  src: url('/fonts/Formula1_Regular.ttf') format('truetype');
}

:root {
  --red: #ee0000;
  --red-light: #ff0000;
  --red-medium: #e50914;
  --red-dark: #a70606;
  
  --white: #fff;
  --white-transparent: #ffffffd6;
  --black: #000;
  --black-transparent: #00000080;
  --grey-dark: #272727;
  --grey-dark-transparent: #27272766;

  --header-height: 5rem;

  --header-inline-padding: 4vw;
  --header-half-inline-padding: calc(var(--header-inline-padding) / 2);
  --landing-page-inline-padding: calc(100% - 3rem); 
  --landing-page-block-padding: 4.5rem;
  --landing-page-title-size: clamp(1.8rem, 1.5rem + 2vw, 2.8rem);
  --landing-page-description-size: clamp(1.125rem, 0.6rem + 1vw, 1.4rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  background: #000;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p,
li,
figcaption {
    text-wrap: pretty;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.1s ;

  @media(hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--red);
    }

    &:active {
      color: var(--red-light);
    }
  }
}

button {
  background: none;
  border: none;
}

    
@media (min-width: 800px) {
  :root {
    --landing-page-inline-padding: calc(100% - 4rem);
  }
}

@media (min-width: 1140px) {
  :root {
    --landing-page-inline-padding: calc(84% - 6rem);
  }
}