@mixin tableGrid {
    display: grid;
    grid-template-columns: var(--columns);
    align-items: center;
    gap: 1rem;
}

@mixin shadow {
    --bg-color: #f3f3f3;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 16%;
    z-index: 5;
    transition: opacity 0.2s;
    margin-block: 0rem 3rem;
    pointer-events: none;
}

.resultsWrapperTable {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}


.resultsWrapper {
    display: grid;
}

.multiTable {
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: (25% auto);
    } 
}

.detailSelectorList {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    
    .detailElement {
        padding: 1rem;
        border-width: 0;
        border: 0 solid transparent;
        border-left-width: 0.365rem;
        border-color: var(--red-medium);
    }
}

.tableBorder {
    padding-inline: 0.6rem;
    border: 2px solid var(--red-medium);
    border-radius: 0.8rem;
}

.tableCaption,
.resultsTableOuterWrapper {
    font-family: "Formula1_Regular";
}

.tableCaption {
    font-size: clamp(1rem, 0.6rem + 3vw, 2.2rem);
    margin-block-start: 1.4rem;
}    

.resultsTableOuterWrapper {
    position: relative;
    margin-block: 0 4rem;
    display: grid;

    .shadowLeft {
        @include shadow;
        left: 0;
        background: linear-gradient(to right, var(--bg-color), transparent);
    }
    
    .shadowRight {
        @include shadow;
        right: 0;
        background: linear-gradient(to left, var(--bg-color), transparent);
    }

    .resultsTableWrapper {
        overflow: auto;
        width: 100%;

        .resultsTable {
            display: grid;
            min-width: 660px;
                 
            .tableHeaderWrapper {
                background-color: var(--red-medium);
                color: var(--white);
                padding: 1rem 0.8rem;
                border-radius: 0.4rem;
                text-transform: uppercase;
        
                tr {
                    @include tableGrid;
                }
            }
        
            .tableBodyWrapper {
                margin-block: 0rem 3rem;

                tr {
                    padding: 1.6rem 0.8rem;
                    @include tableGrid;
        
                    &:nth-child(2n) {
                        background: #f3f3f3
                    }
                }
            }
        }
    }
}










