@mixin tableGrid {
    display: grid;
    grid-template-columns: var(--columns);
    align-items: center;
    gap: 1rem;
}

@mixin shadow {
    --bg-color: #f3f3f3;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 16%;
    z-index: 5;
    transition: opacity 0.2s;
    margin-block: 0rem 3rem;
    pointer-events: none;
}

.resultsWrapperTable {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}


.resultsWrapper {
    display: grid;
    margin-block-end: 2rem;
}

.multiTable {
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: (25% auto);
    } 
}

.detailSelectorList {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    
    .detailElement {
        border-width: 0;
        border: 0 solid transparent;
        border-left-width: 0.365rem;
        border-color: var(--grey-light);

        a:hover {
            color: unset;
        }

        &.clickableElement {
            &:hover {
                background-color: var(--grey-light-transparent);
            }
        }
    
        &.elementActive {
            border-color: var(--red-medium);
        }

        & .detailElementLabel {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
    
            .elementDate {
                font-size: var(--font-size-xxs);
                color: var(--grey-light);
            }

            &.nonClickableElement {
                color: var(--grey-light);
                cursor: default;
            }
        }
    }
}

.tableBorder {
    padding-inline: 0.6rem;
    border: 2px solid var(--red-medium);
    border-radius: 0.8rem;
}

.tableCaption,
.tableCaptionDescription,
.detailSelectorList,
.resultsTableOuterWrapper,
.chartWrapper {
    font-family: "Formula1_Regular";
}

.tableCaption {
    font-size: clamp(1rem, 0.6rem + 3vw, 2.2rem);
    margin-block-start: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}    

.resultsTableOuterWrapper {
    position: relative;
    margin-block: 0 4rem;
    display: grid;

    .shadowLeft {
        @include shadow;
        left: 0;
        background: linear-gradient(to right, var(--bg-color), transparent);
    }
    
    .shadowRight {
        @include shadow;
        right: 0;
        background: linear-gradient(to left, var(--bg-color), transparent);
    }

    .resultsTableWrapper {
        overflow: auto;
        width: 100%;

        .resultsTable {
            display: grid;
            min-width: 660px;
                 
            .tableHeaderWrapper {
                background-color: var(--red-medium);
                color: var(--white);
                padding: 1rem 0.8rem;
                border-radius: 0.4rem;
                text-transform: uppercase;
        
                tr {
                    @include tableGrid;
                }
            }
        
            .tableBodyWrapper {
                margin-block: 0rem 3rem;

                tr {
                    padding: 1.6rem 0.8rem;
                    @include tableGrid;
        
                    &:nth-child(2n) {
                        background: #f3f3f3
                    }

                    a {
                        text-decoration: underline dotted var(--red-medium);
                        text-underline-offset: 4px;
                    }
                }
            }
        }
    }
}

.chartWrapper  {
    block-size: 56rem;
    width: auto;

    .chartToggle { 
        .chartToggleLabel {
            display: flex;
            gap: 0.4rem;
            align-items: center;
            justify-content: center;
        }
    }

  .chart {
    margin-block: 1rem 4rem;
  }
}







