.searchWrapper {
    font-family: "Formula1_Regular";

    .searchInput {
        width: 100%;
        padding: 0.6rem;
        outline: none;
        border: 2px solid var(--black);
        border-radius: 0.4rem;
        
        &:focus {
            border: 2px solid var(--red-medium);
        }
    
        &::placeholder {
            color: var(--grey-light);
            font-style: italic;
        }
    }

    .searchResultsCounter {
        margin-block: 0.6rem 0.8rem;
    }
}
